<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}TEST PAGE{%endblock%}</title>
</head>
<body style="background-color:#5D8AA8">
<H1 style="color:white"><center>{%block home%}HOME PAGE{%endblock%}</center></H1>
<H3><center><a href="https://www.tipidpc.com">click me</a></center></H3>
<img src="sakamoto.png" alt="picture of sakamoto" title="sakamoto"><br>
<center><h3><big>This is</big> <mark>sakamoto</mark> <sup> days</sup></h3></center>
<ul>
    <li>name</li><li>address</li><li>contact</li>
</ul>
<ol type="a">
    <li>name</li><li>address</li><li>contact</li>
</ol>
<center><dl><dt><b>NAME</b></dt><dd>Strawhat Luffy</dd>
    <dt><b>ADDRESS</b></dt><dd>MANILA</dd>
    <dt><b>CONTACT</b></dt><dd>246810</dd>
</dl></center><br>

<h2>DAILY HABITS</h2>
<table bgcolor="skyblue" width="800">
    <tr bgcolor="grey"><th>SUNDAY</th><th>MONDAY</th> <th>TUESDAY</th><th>WEDNESDAY</th><th>THURSDAY</th><th>FRIDAY</th><th>SATURDAY</th>
    </tr>
    <tr bgcolor="white" align="center"><tD>Others</tD><td>Work</td><td>Work</td><td>Work</td><td>Work</td><td>Work</td><td>Work</td>
    </tr>
</table>

</body>
</html>









