{% extends "base.html" %}

{% block head %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block body %}

<center>
<table style="background-color:#3B444B;color:white">
    <tr><th><h1 align="left">Sign Up</h1></th></tr>
    <tr><td><h3><i>Please fill in this form to create an account!</i></h3></td></tr>
<form action="/sign" method="POST">
    <tr><td>
    <input type="email" name="email" value="" placeholder=" Email"
    style="width:200px; padding:10px; border-radius:500px;">
    </td></tr>
    <tr><td>
    <input type="password" name="password" value="" placeholder=" Password"
        style="width:200px; padding:10px; border-radius:500px;">
    </td></tr>
    <tr><td>
    <input type="password" name="confirm" value="" placeholder=" Confirm Password"
    style="width:200px; padding:10px; border-radius:500px;">
    </td></tr>
    <tr><td>
    <input type="submit" value="Sign Up"
    style="width:80px; padding:10px; font-size:15px; border-radius:500px">
    <a href="/"><h3 style="color:white; font-size:25px">Back</h3></a>
    </td></tr>
</form>
</table>
</center>

{% endblock %}