{% extends "base.html" %}

{% block body %}
<center>
<table style="background-color:#3B444B;color:white">
    <tr><th><h1 align="left">Sign Up</h1></th></tr>
    <tr><td><h3><i>Please fill in this form to create an account!</i></h3></td></tr>
<form action="" method="POST">
    <tr><td>
    <input type="text" name="content" value="" placeholder=" Email">
    </td></tr>
    <tr><td>
    <input type="text" name="content" value="" placeholder=" Password">
    </td></tr>
    <tr><td>
    <input type="text" name="content" value="" placeholder=" Confirm Password">
    </td></tr>
    <tr><td>
    <input type="submit" value="Sign Up" >
    </td></tr>
</form>
</table>
</center>

{% endblock %}